/*---------------------
Version: 0.2
---------------------*/


/*---------------------
RESET
---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*---------------------
LAYOUT
---------------------*/



header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {

}

/*---------------------
TYPOGRAPHY
---------------------*/

body {
    font-family: 'Inter';
    font-weight: 300;
    line-height: 1.5;
}


/*---------------------
COLOR & STYLE
---------------------*/

/**-----
Color Vars
-----**/

:root {
    --hue: 200;

    --color-sub-white: hsl(var(--hue),5%,97%);
    --color-grey-light: hsl(var(--hue),13%,89%);
    --color-grey-mid-light: hsl(var(--hue),21%,76%);
    --color-grey-mid: hsl(var(--hue),21%,55%);
    --color-grey-mid-dark: hsl(var(--hue),34%,34%);
    --color-grey-dark: hsl(var(--hue),42%,21%);
    --color-sub-black: hsl(var(--hue),42%,8%);
}



/**-----
Backgrounds
-----**/


body {
    background: var(--color-grey-dark);
}

header {
    background: var(--color-grey-mid);
}

main {
    background: var(--color-sub-white);
}

/**-----
Type
-----**/

header,
header a,
footer,
footer a {
    color: var(--color-sub-white)
}



/*---------------------
COMPONENTS
---------------------*/



/*---------------------
RESPONSIVE
---------------------*/